.nav-link a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
}
.catagoris-list{
    width: 200px;
}
.dropdown-list ul{
    list-style-type: none;
}
.dropdown-list li{
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-list li> i{
   color: #54e0fca4;
    display: none;
}
.dropdown-list li:hover{
    background-color: rgb(242, 242, 242);
}
.dropdown-list li:hover>a{
    color:#54e0fc ;
}
.dropdown-list li:hover >i{
    display:block;
}
.dropdown-list li>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.542);
    font-size:.8em ;
}

.dropdown-list ul li >ul{
    position:absolute;
    background-color: rgb(253, 254, 255);
    left: 200px;
    top: 0px;
    display:none;
    padding: 0;
    width: 200px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 2s;
}
.dropdown-list ul li:hover > ul{
    display:block ;
    z-index: 10;
    
}
.catagoris{
    height: 70px;
}
.catagori{
    border-radius:30px;
    height: 50px;
}
.catagori:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #fc9363 ;
}
.catagori-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px;
    background-color:#fdddce ;
    overflow: hidden;
}